<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>contact us</title>

    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial=scale=1.0">
  </head>

  <body class="body">

    <header class="mainheader">
      <img src="images/logo.png" alt=" " class="img-responsive" />
      <nav><ul>
        <li class="active"><a href="#">Home</a></li>
          <li><a href="about.html">About</a></li>
            <li><a href="portfolio.html">Portifolio</a></li>
            <li><a href="contact.html">Contacts</a></li>
    </ul></nav>

    </header>

    <div class="mainContent">
      <div class="content">
  <article class="topcontent">

    <header>
      <h2><a href="#" title="first post"><strong>Vaccinate Your Pets</strong></a></h2>
    </header>

    <footer>
      <p class="post-info">this post is written by Darkwidow</p>
    </footer>

    <content>
    <p>
      <div class="postImage">
                  <img src="images/r.jpg" alt="dogs in basket"
                  width="850px";
                  height="375px";>
                </div></p>

    </content>
  </article>

  <footer class="mainfooter">
  <p>Copyright &copy; 2017 Darkwidow</p>

  </footer>

  </body>
</html>
